@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-slate-200;
  }

  body {
    @apply antialiased;
    text-rendering: optimizeLegibility;
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }

  :focus-visible {
    @apply outline-none ring-2 ring-brand-600 ring-offset-2 ring-offset-white;
  }
}